node_modules
.env
.idea
dist
storybook-static/

coverage/
.jest/
jest-html-reporters-*.html
npm-debug.log*

cypress/videos/
cypress/screenshots/
cypress/downloads/
node_modules/.cache/Cypress
cypress.env.json